body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #111, #2c0000);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.container {
  max-width: 400px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid red;
  box-shadow: 0 0 25px red;
  margin-bottom: 20px;
}

h1 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #ff4d4d;
}

.contador {
  font-size: 60px;
  font-weight: bold;
  color: #ff0000;
}

.tempo {
  font-size: 22px;
  margin-top: 10px;
  letter-spacing: 2px;
}
